@{
    ViewBag.Title = "Home Page";
}
@model List<TemaASP.Models.Students>

<div class="jumbotron">
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Email</th>
                    <th scope="col">View More</th>
                </tr>
            </thead>
            <tbody>
                @{
                foreach (var student in Model)
                {
                <tr>
                    <th scope="row">@student.Id</th>
                    <th>@student.Name</th>
                    <th>@student.Faculty</th>
                    <th>@student.Email</th>
                    <th><button type="button" class="btn btn-dark">View</button></th>
                </tr>
                    }
                }
            </tbody>
            </table>
    </div>
</div>